        body {
            margin: 0;
            font-family: 'Poppins', sans-serif;
            color: #fff;
            background-image:
            linear-gradient(rgba(0,0,0,0.55), rgba(0,0,0,0.55)),
            url("https://res.cloudinary.com/dglpzels3/image/upload/v1763821092/pexels-alesiakozik-6770770_cfaz9k.jpg");
            background-attachment: fixed;
            animation: bgMove 18s ease-in-out infinite alternate;
        }

        @keyframes bgMove {
            0% { background-position: center top; }
            100% { background-position: center bottom; }
        }

        header {
            padding: 3rem 2rem;
            text-align: center;
            background: #111827;
        }

        header h1 {
            font-family:Georgia, 'Times New Roman', Times, serif;
            font-size: 2.8rem;
            margin: 0;
        }

        .section {
            padding: 3rem 2rem;
            max-width: 900px;
            margin: auto;
            backdrop-filter: blur(3px);
        }
        .section h2 {
            font-size: 2rem;
            margin-bottom: 1rem;
            border-left: 4px solid #4f46e5;
            padding-left: 10px;
        }
        .box {
            background: rgba(31, 41, 55, 0.75);
            backdrop-filter: blur(4px);
            padding: 1.5rem;
            border-radius: 12px;
            margin-bottom: 1.5rem;
            box-shadow: 0 0 10px rgba(0,0,0,0.3);
            transition: transform 0.2s ease, box-shadow 0.2s ease;
        }

        .box:hover{
            transform: translateY(-6px);
            box-shadow: 0 0 18 rgba(129,140,248,0.4);
        }

        section #msj{
            font-style: italic;
            font-size: x-large;
            text-decoration: underline;
            text-transform:capitalize;
        }
        .video-box img {
            width: 100%;
            border-radius: 10px;
            margin-top: 1rem;
        }
        a {
            color: #818cf8;
        }
        footer {
            text-align: center;
            padding: 2rem;
            opacity: 0.6;
        }
        body::before {
            content: "";
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0,0,0,0.55);
            z-index: -1;
            }


        
